body {
  font-family: Arial, sans-serif;
  background-color: #F1F2F6;
  margin-top: 0;
}

.inner {
  width: 100%;
  max-width: 1100px;
  background-color: #FFFFFF;
  margin: 10px auto;
  padding: 50px 50px;
  box-sizing: border-box;
  align-items: center;
  border: 0.5px solid #CCCC99;
}

.back_page {
  display: flex;
  justify-content: left;
  margin: 50px 20px 1px 20px;
}

.draft {
  display: flex;
  font-size: 20px;
  justify-content: right;
  text-decoration: none;
  color: #FF385C;
  margin-right: 25px;
}

h1 {
  font-size: 35px;
  text-align: center;
  border-bottom: 1px solid black;
}

.highlight {
  color: #FF385C;
}

.status {
  display: flex;
  justify-content: center;
}

.status_img {
  padding: 20px 20px;
}

.next_page {
  display: flex;
  justify-content: right;
  margin: 20px 40px 1px 50px;
}

.status {
  text-align: center;
}

.status ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.status ul li {
  margin: 0 20px;
  /* 各画像の間隔 */
}

.status ul li img {
  width: 80px;
  height: auto;
  margin: 40px 25px 0;
}

.pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #fefefe;
  gap: 1rem;
}

.pagination {
  display: flex;
  gap: 0.5rem;
}


.pagination a,
.pagination button {
  display: inline-block;
  color: black;
  border-radius: 50%;
  border: 1px solid #dedede;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}


.pagination i {
  line-height: 40px;
}

.pagination .active a {
  background-color: #FF385C;
  color: white;
}

.pagination li:not(.disabled) a {
  pointer-events: none;
}


.status .pagination li.disabled a:hover i,
.status .pagination li.active a:hover i {
  color: #FF385C;
}


.pagination .disabled a {
  color: #ccc;
}

.pagination .disabled a:hover {
  background-color: initial;
  color: #FF385C;
}


@media screen and (max-width: 640px) {

  h1 {
    font-size: 20px;
  }

  .draft {
    font-size: 10px;
  }
}
