body {
  font-family: Arial, sans-serif;
  background-color: #F1F2F6;
  margin-top: 0;
}

.inner {
  width: 100%;
  max-width: 1100px;
  background-color: #FFFFFF;
  margin: 10px auto;
  padding: 50px 50px;
  box-sizing: border-box;
  align-items: center;
  border: 0.5px solid #CCCC99;
}

.back_page {
  display: flex;
  justify-content: left;
  margin: 50px 20px 1px 20px;
}

h1 {
  font-size: 35px;
  text-align: center;
  border-bottom: 1px solid black;
}

.highlight {
  color: #FF385C;
}

.status {
  display: flex;
  justify-content: center;
}

.status_img {
  padding: 20px 20px;
}

.next_page {
  display: flex;
  justify-content: right;
  margin: 20px 40px 1px 50px;
}


@media screen and (max-width: 640px) {

  h1 {
    font-size: 20px;
  }

}
