h2 {
  font-size: 15px;
}

.share_or_back {
  display: flex;
  flex-direction: column;
  margin-right: 50px;

}

@media screen and (max-width: 640px) {

  h1 {
    font-size: 15px;
    text-align: center;
  }
}
