.inner {
  margin: 36px auto;
}

.chart_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chart_form p {
  font-size: 20px;
  margin: 0 10px;
}

#radarChart {
  width: 550px;
  text-align: center;
  margin: 0 auto;
}

.status .pagination li.disabled button:hover i,
.status .pagination li.active button:hover i {
  color: #FF385C;
}


.pagination .disabled button {
  color: #ccc;
}

.pagination .disabled button:hover {
  background-color: initial;
  color: #FF385C;
}

@media screen and (min-width: 375px) and (max-width: 428px) {

  .return_theme_page {
    font-size: 10px;
    padding: 8px;
    margin: 10px 2px;
  }

  .chart_form {
    display: flex;
    flex-wrap: wrap;
  }

  .chart_form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .chart_form p {
    font-size: 10px;
    margin: 8px auto;
  }

  #radarChart {
    width: 250px;
    text-align: center;
    margin: 0 auto;
  }
}
