.return_pitch_page {
  text-decoration: none;
  font-size: 15px;
  color: black;
  background-color: #EEEEEE;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 20px 50px;
}

.chart-pitch-wrapper {
  display: flex;
  justify-content: space-between;
  /* 要素を均等に配置 */
}

h2 {
  border-bottom: 1px solid black;
}

.chart,
.pitch {
  width: calc(50% - 25px);
}

ul {
  padding: 0%;
}

ul li {
  list-style: none;
}

#input_pitch1,
#input_pitch2,
#input_solution {
  width: 80%;
  margin: 8px 20px;
}

.proceed_feedback_page {
  text-decoration: none;
  font-size: 20px;
  border-radius: 0;
  background: #FF385C;
  color: #ffffff;
  border: 0.5px solid black;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 20px 50px;
  position: relative;
}

@media screen and (max-width: 640px) {
  .return_pitch_page {
    font-size: 10px;
    padding: 8px;
    margin: 10px 2px;
  }

  h2 {
    font-size: 15px;
    text-align: center;
  }

  .chart-pitch-wrapper {
    display: flex;
    flex-direction: column;
  }

  .chart,
  .pitch {
    width: 100%;
  }

  .proceed_feedback_page {
    font-size: 10px;
    padding: 8px 20px;
    margin: 2px 1px;
  }

}
