.inner {
  margin: 36px auto;
}

.chart-pitch-wrapper {
  display: flex;
  justify-content: space-between;
  /* 要素を均等に配置 */
}

h2 {
  border-bottom: 1px solid black;
}

.chart,
.pitch {
  width: calc(50% - 25px);
}

ul {
  padding: 0%;
}

ul li {
  list-style: none;
}

.TextareaWrapper {
  position: relative;
  width: 80%;
  /* max-width: 400px; */
}

#input_pitch1,
#input_pitch2,
#input_solution {
  /* width: 80%; */
  margin: 8px 20px;
  resize: none;
  border: 1px solid black;
  border-radius: 5px;
}

.CharCounter {
  position: absolute;
  bottom: 15px;
  right: 0;
}

.proceed_feedback_page {
  text-decoration: none;
  font-size: 20px;
  border-radius: 0;
  background: #FF385C;
  color: #ffffff;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 20px 50px;
  position: relative;
}

.next_page .draft,
.next_page .delete {
  text-decoration: none;
  font-size: 15px;
  color: black;
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 20px 30px;
  cursor: pointer;
  /* カーソルをポインターに設定 */
}

.next_page .draft:hover,
.next_page .delete:hover {
  color: #FF385C;
}


.status .pagination li.disabled button:hover i,
.status .pagination li.active button:hover i {
  color: #FF385C;
}


.pagination .disabled button {
  color: #ccc;
}

.pagination .disabled button {
  color: #ccc;
  background-color: #ffffff;
}

.pagination .disabled button:hover {
  background-color: initial;
  color: #FF385C;
}



/*========= LoadingのためのCSS ===============*/
/* Loading背景画面設定　*/

body {
  padding: 0;
  margin: 0;
}

#page_loading {
  display: none;
  /*fixedで全面に固定*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  /* 他の要素の前に表示 */
  justify-content: center;
  /* 中央に配置 */
  align-items: center;
  /* 中央に配置 */
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif !important;
}

/* Loadingバー中央配置　*/
#load_area {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #2e2e2e;
}

#page_loading_text {
  width: 40%;
  color: #fff;
  margin: auto;
}

.load_spbr {
  display: none;
}

.load_h {
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding: 10px 0 16px;
}

p.load_p {
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .load_spbr {
    display: block;
  }
}

/*IE11対策用バーの線の高さ※対応しなければ削除してください*/
#page_loading_text svg {
  height: 12px;
  border-radius: 10px;
}

/*========= レイアウトのためのCSS ===============*/


#container {
  width: 100%;
  height: 100vh;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.progressbar-text {
  position: relative !important;
  left: 0 !important;
  top: 0 !important;
  padding: 0 !important;
  margin: auto !important;
  transform: none !important;
  font-size: 1rem !important;
  color: #2e2e2e !important;
  margin-top: 10px !important;
}


a {
  color: #333;
}

a:hover {
  text-decoration: none;
}



.loader {
  margin: auto;
  margin-bottom: 60px;
  font-size: 15px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  /*position: relative;*/
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load5 {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #2e2e2e, 1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2), 2.5em 0em 0 0em rgba(50, 50, 50, 0.2), 1.75em 1.75em 0 0em rgba(50, 50, 50, 0.2), 0em 2.5em 0 0em rgba(50, 50, 50, 0.2), -1.8em 1.8em 0 0em rgba(50, 50, 50, 0.2), -2.6em 0em 0 0em rgba(50, 50, 50, 0.5), -1.8em -1.8em 0 0em rgba(50, 50, 50, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(50, 50, 50, 0.7), 1.8em -1.8em 0 0em #2e2e2e, 2.5em 0em 0 0em rgba(50, 50, 50, 0.2), 1.75em 1.75em 0 0em rgba(50, 50, 50, 0.2), 0em 2.5em 0 0em rgba(50, 50, 50, 0.2), -1.8em 1.8em 0 0em rgba(50, 50, 50, 0.2), -2.6em 0em 0 0em rgba(50, 50, 50, 0.2), -1.8em -1.8em 0 0em rgba(50, 50, 50, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(50, 50, 50, 0.5), 1.8em -1.8em 0 0em rgba(50, 50, 50, 0.7), 2.5em 0em 0 0em #2e2e2e, 1.75em 1.75em 0 0em rgba(50, 50, 50, 0.2), 0em 2.5em 0 0em rgba(50, 50, 50, 0.2), -1.8em 1.8em 0 0em rgba(50, 50, 50, 0.2), -2.6em 0em 0 0em rgba(50, 50, 50, 0.2), -1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(50, 50, 50, 0.2), 1.8em -1.8em 0 0em rgba(50, 50, 50, 0.5), 2.5em 0em 0 0em rgba(50, 50, 50, 0.7), 1.75em 1.75em 0 0em #2e2e2e, 0em 2.5em 0 0em rgba(50, 50, 50, 0.2), -1.8em 1.8em 0 0em rgba(50, 50, 50, 0.2), -2.6em 0em 0 0em rgba(50, 50, 50, 0.2), -1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(50, 50, 50, 0.2), 1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2), 2.5em 0em 0 0em rgba(50, 50, 50, 0.5), 1.75em 1.75em 0 0em rgba(50, 50, 50, 0.7), 0em 2.5em 0 0em #2e2e2e, -1.8em 1.8em 0 0em rgba(50, 50, 50, 0.2), -2.6em 0em 0 0em rgba(50, 50, 50, 0.2), -1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(50, 50, 50, 0.2), 1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2), 2.5em 0em 0 0em rgba(50, 50, 50, 0.2), 1.75em 1.75em 0 0em rgba(50, 50, 50, 0.5), 0em 2.5em 0 0em rgba(50, 50, 50, 0.7), -1.8em 1.8em 0 0em #2e2e2e, -2.6em 0em 0 0em rgba(50, 50, 50, 0.2), -1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(50, 50, 50, 0.2), 1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2), 2.5em 0em 0 0em rgba(50, 50, 50, 0.2), 1.75em 1.75em 0 0em rgba(50, 50, 50, 0.2), 0em 2.5em 0 0em rgba(50, 50, 50, 0.5), -1.8em 1.8em 0 0em rgba(50, 50, 50, 0.7), -2.6em 0em 0 0em #2e2e2e, -1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(50, 50, 50, 0.2), 1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2), 2.5em 0em 0 0em rgba(50, 50, 50, 0.2), 1.75em 1.75em 0 0em rgba(50, 50, 50, 0.2), 0em 2.5em 0 0em rgba(50, 50, 50, 0.2), -1.8em 1.8em 0 0em rgba(50, 50, 50, 0.5), -2.6em 0em 0 0em rgba(50, 50, 50, 0.7), -1.8em -1.8em 0 0em #2e2e2e;
  }
}

@keyframes load5 {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #2e2e2e, 1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2), 2.5em 0em 0 0em rgba(50, 50, 50, 0.2), 1.75em 1.75em 0 0em rgba(50, 50, 50, 0.2), 0em 2.5em 0 0em rgba(50, 50, 50, 0.2), -1.8em 1.8em 0 0em rgba(50, 50, 50, 0.2), -2.6em 0em 0 0em rgba(50, 50, 50, 0.5), -1.8em -1.8em 0 0em rgba(50, 50, 50, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(50, 50, 50, 0.7), 1.8em -1.8em 0 0em #2e2e2e, 2.5em 0em 0 0em rgba(50, 50, 50, 0.2), 1.75em 1.75em 0 0em rgba(50, 50, 50, 0.2), 0em 2.5em 0 0em rgba(50, 50, 50, 0.2), -1.8em 1.8em 0 0em rgba(50, 50, 50, 0.2), -2.6em 0em 0 0em rgba(50, 50, 50, 0.2), -1.8em -1.8em 0 0em rgba(50, 50, 50, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(50, 50, 50, 0.5), 1.8em -1.8em 0 0em rgba(50, 50, 50, 0.7), 2.5em 0em 0 0em #2e2e2e, 1.75em 1.75em 0 0em rgba(50, 50, 50, 0.2), 0em 2.5em 0 0em rgba(50, 50, 50, 0.2), -1.8em 1.8em 0 0em rgba(50, 50, 50, 0.2), -2.6em 0em 0 0em rgba(50, 50, 50, 0.2), -1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(50, 50, 50, 0.2), 1.8em -1.8em 0 0em rgba(50, 50, 50, 0.5), 2.5em 0em 0 0em rgba(50, 50, 50, 0.7), 1.75em 1.75em 0 0em #2e2e2e, 0em 2.5em 0 0em rgba(50, 50, 50, 0.2), -1.8em 1.8em 0 0em rgba(50, 50, 50, 0.2), -2.6em 0em 0 0em rgba(50, 50, 50, 0.2), -1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(50, 50, 50, 0.2), 1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2), 2.5em 0em 0 0em rgba(50, 50, 50, 0.5), 1.75em 1.75em 0 0em rgba(50, 50, 50, 0.7), 0em 2.5em 0 0em #2e2e2e, -1.8em 1.8em 0 0em rgba(50, 50, 50, 0.2), -2.6em 0em 0 0em rgba(50, 50, 50, 0.2), -1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(50, 50, 50, 0.2), 1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2), 2.5em 0em 0 0em rgba(50, 50, 50, 0.2), 1.75em 1.75em 0 0em rgba(50, 50, 50, 0.5), 0em 2.5em 0 0em rgba(50, 50, 50, 0.7), -1.8em 1.8em 0 0em #2e2e2e, -2.6em 0em 0 0em rgba(50, 50, 50, 0.2), -1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(50, 50, 50, 0.2), 1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2), 2.5em 0em 0 0em rgba(50, 50, 50, 0.2), 1.75em 1.75em 0 0em rgba(50, 50, 50, 0.2), 0em 2.5em 0 0em rgba(50, 50, 50, 0.5), -1.8em 1.8em 0 0em rgba(50, 50, 50, 0.7), -2.6em 0em 0 0em #2e2e2e, -1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(50, 50, 50, 0.2), 1.8em -1.8em 0 0em rgba(50, 50, 50, 0.2), 2.5em 0em 0 0em rgba(50, 50, 50, 0.2), 1.75em 1.75em 0 0em rgba(50, 50, 50, 0.2), 0em 2.5em 0 0em rgba(50, 50, 50, 0.2), -1.8em 1.8em 0 0em rgba(50, 50, 50, 0.5), -2.6em 0em 0 0em rgba(50, 50, 50, 0.7), -1.8em -1.8em 0 0em #2e2e2e;
  }
}

/*========= END LoadingのためのCSS ===============*/


@media screen and (min-width: 375px) and (max-width: 428px) {
  .return_pitch_page {
    font-size: 10px;
    padding: 8px;
    margin: 10px 2px;
  }

  h2 {
    font-size: 12px;
    text-align: center;
  }

  .chart-pitch-wrapper {
    display: flex;
    flex-direction: column;
  }

  .chart,
  .pitch {
    width: 100%;
  }

  .proceed_feedback_page {
    font-size: 10px;
    padding: 8px 20px;
    margin: 2px 1px;
  }

  #input_pitch1,
  #input_pitch2,
  #input_solution {
    width: 100%;
    margin: 8px auto;
    resize: none;
  }

  .TextareaWrapper {
    width: 100%;
  }

  .next_page {
    display: flex;
    /* justify-content: space-between; */
  }

  .next_page .draft,
  .next_page .delete {
    writing-mode: horizontal-tb;
    margin: 0 -10px;
  }

}
