body {
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  margin-top: 0;
  overflow: scroll;
}

header {
  height: 80px;
  background-color: #FFFFFF;
  margin: 0 calc(50% - 50vw);
  display: flex;
  justify-content: space-between;
}

.home-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* 右寄せ */
  padding: 10px;
  /* ヘッダー内のパディング */
}

.home-menu ul {
  list-style-type: none;
  display: flex;
  gap: 0;
  margin: 0;
  padding: 0;
  border: black;
}

.home-menu li {
  text-align: right;
  margin: 3px 10px;
}

.home-menu li a {
  text-decoration: none;
  display: inline-block;
}

.home-menu ul li a img {
  width: 13%;
  right: 20%;
}

.home-menu .accordion-content1 {
  width: 130px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 10px;
  position: absolute;
  right: 20%;
}

.accordion-content1 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.home-menu .accordion-content2 {
  width: 140px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 10px;
  position: absolute;
  right: 10%;
}

.accordion-content2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.accordion-content2 ul li {
  padding: 5px;
}

.create_menu {
  background-color: #FF385C;
  color: #ffffff;
  padding: 8px 18px;
  border-radius: 8px;
  margin: 30px 10px !important;
  margin-left: 0 !important;
}

.create_new_idea {
  background-color: #FF385C;
  color: #ffffff;
  padding: 8px 18px;
  border-radius: 8px;
}

.logo {
  width: 190px;
  display: flex;
  align-items: center;
  margin: 15px 15px;
}

.logo img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-image: linear-gradient(black);
}

.catch_copy {
  display: flex;
  justify-content: center;
  /* コンテンツを中央に配置 */
  align-items: center;
  /* コンテンツを縦方向に中央に配置 */
  padding: 20px;
  background-color: #f8f7f6;
  height: 300px;
}

.background-container {
  flex-shrink: 0;
  width: auto;
  height: 100%;
}

.background-image {
  height: 100%;
  width: auto;
  display: block;
}

.TextTyping {
  margin-left: 20px;
  z-index: 2;
  color: #B42E31;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  white-space: pre-wrap;
}

#cursor {
  display: inline-block;
  animation: blink 0.7s steps(1) infinite;
}

.TextTyping span {
  display: none;
}

.TextTyping::after {
  content: "|";
  animation: typinganime .8s ease infinite;
}

@keyframes typinganime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.main-contents {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 50px;
  box-sizing: border-box;
  align-items: center;
  background-color: #FFFFFF;
}

.main-contents .theme_select_title {
  text-align: left;
  font-size: 22px;
  padding: 0;
  margin-bottom: 15px;
}

.slider {
  width: 100%;
  margin: 0 auto;
}

.slider img {
  width: 100%;
  height: auto;
}

.slider .slick-slide {
  margin: 0 10px;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 42%;
  cursor: pointer;
  outline: none;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  height: 15px;
  width: 15px;
}

.slick-prev {
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {
  right: -1.5%;
  transform: rotate(45deg);
}

.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background: #ccc;
}

.slick-dots .slick-active button {
  background: #333;
}

.sort-by-theme {
  width: 100%;
  max-width: 1200px;
  display: flex;
}

.theme-button {
  display: inline-block;
  margin: 20px 20px;
  padding: 25px;
  background-color: #f8f7f6;
  color: black;
  font-size: 15px;
  width: 400px;
  border-radius: 10px;
  cursor: pointer;
}

.main-contents h1 {
  font-size: 15px;
}

.theme_select {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 17px;
  margin-bottom: 40px;
}

.theme_select::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #254625;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
  pointer-events: none;
}

.theme_select select {
  appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: .4em calc(.8em + 30px) .4em .8em;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  background-color: #fff;
  color: #052605;
  font-size: 1em;
  cursor: pointer;
}

.image-container {
  display: inline-block;
  /* サイズを調整してコンテナが画像を包む */
  width: fit-content;
  height: fit-content;
}

.image-container canvas {
  display: block;
  /* 画像サイズの調整 */
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s ease;
}

.image-container:hover canvas {
  transform: scale(1.1);
  /* 1.1倍に拡大 */
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  /* ビューポート幅に合わせる */
  height: 100vh;
  /* ビューポート高さに合わせる */
  background: rgba(0, 0, 0, 0.5);
  /* 半透明の背景 */
  justify-content: center;
  /* コンテンツを中央に配置 */
  align-items: center;
  /* コンテンツを中央に配置 */
  z-index: 2000;
  /* 他のコンテンツより上に表示 */
}

.modal-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 50%;
  height: auto;
  /* ビューポート幅に合わせる */
  /* max-width: 90vw; */
  /* 最大幅を指定 */
  /* max-height: 90vh; */
  /* 最大高さを指定 */
  overflow: auto;
  /* 内容が溢れたときにスクロール */
  box-sizing: border-box;
  /* 幅にパディングとボーダーを含める */
  margin: 10px auto;
}


.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.modal-content {
  max-height: 80vh;
  overflow-y: auto;
}


.modal.is-active {
  display: flex;
  /* モーダルが表示されるときは flex に変更*/
}

.dli-more {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 0.25em;
  height: 0.25em;
  background: currentColor;
  border-radius: 50%;
  box-shadow: -0.375em 0 0 0 currentColor, 0.375em 0 0 0 currentColor;
}

.accordion-content3 {
  width: 130px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 10px;
  position: absolute;
  right: 20%;
}

button {
  border: none;
  /* 黒い枠線を消す */
  background-color: transparent;
  /* グレーの背景色を消す */
  outline: none;
  /* フォーカス時のアウトラインを消す */
}


@media screen and (max-width: 640px) {
  header {
    height: 40px;
  }

  .logo img {
    height: 40px;
    width: auto;
  }

  .home-menu li {
    text-align: right;
    margin: 3px 10px;
    font-size: 10px;
  }

  .theme-button {
    display: inline-block;
    margin: 20px 7px;
    padding: 10px;
    background-color: #F6F8F8;
    color: black;
    font-size: 10px;
    width: 400px;
    border-radius: 10px;
    cursor: pointer;
  }

  .catch_copy img {
    width: 150px;
    height: auto;
    margin: 70px 5px;
  }

  .catch_copy p {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
  }
}
