body {
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  margin-top: 0;
}

header {
  height: 80px;
  background-color: #FFFFFF;
  margin: 0 calc(50% - 50vw);
  display: flex;
  justify-content: space-between;
}

.home-menu .accordion-content {
  width: 130px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 15px;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
  display: none;
}

/* アコーディオンメニュー内のリストスタイル */
.accordion-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.home-menu {
  position: relative;
}

.create_menu {
  width: 100%;
}

.create_menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 190px;
  display: flex;
  align-items: center;
  margin: 15px 15px;
}

.logo img {
  width: 100%;
  height: auto;
}

.home-menu {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.home-menu ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  border: black;
}

.home-menu li {
  text-align: right;
  margin: 3px 10px;
}

.home-menu li a {
  text-decoration: none;
}

.home_menu_1 {
  background-color: #f8f7f6;
  padding: 8px 18px;
  border-radius: 8px;
}

.home_menu_2 {
  background-color: #FF385C;
  color: #ffffff;
  padding: 8px 18px;
  border-radius: 8px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-image: linear-gradient(black);
}

.catch_copy {
  display: flex;
  justify-content: center;
  /* コンテンツを中央に配置 */
  align-items: center;
  /* コンテンツを縦方向に中央に配置 */
  padding: 20px;
  background-color: #f8f7f6;
  height: 300px;
}

/* .catch_copy {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #f8f7f6;
  display: flex;
  align-items: center;
  padding: 20px;
} */

.background-container {
  flex-shrink: 0;
  width: auto;
  height: 100%;
}

.background-image {
  height: 100%;
  width: auto;
  display: block;
}

.TextTyping {
  margin-left: 20px;
  z-index: 2;
  color: #B42E31;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  white-space: pre-wrap;
}

#cursor {
  display: inline-block;
  animation: blink 0.7s steps(1) infinite;
}

.TextTyping span {
  display: none;
}

.TextTyping::after {
  content: "|";
  animation: typinganime .8s ease infinite;
}

@keyframes typinganime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.main-contents {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 50px;
  box-sizing: border-box;
  align-items: center;
  background-color: #FFFFFF;
}

.slider {
  width: 100%;
  margin: 0 auto;
}

.slider img {
  width: 100%;
  height: auto;
}

.slider .slick-slide {
  margin: 0 10px;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 42%;
  cursor: pointer;
  outline: none;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  height: 15px;
  width: 15px;
}

.slick-prev {
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {
  right: -1.5%;
  transform: rotate(45deg);
}

.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background: #ccc;
}

.slick-dots .slick-active button {
  background: #333;
}

.sort-by-theme {
  width: 100%;
  max-width: 1200px;
  display: flex;
}

.theme-button {
  display: inline-block;
  margin: 20px 20px;
  padding: 25px;
  background-color: #f8f7f6;
  color: black;
  font-size: 15px;
  width: 400px;
  border-radius: 10px;
  cursor: pointer;
}

.main-contents h1 {
  font-size: 15px;
}

.theme_select {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 17px;
}

.theme_select::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #254625;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
  pointer-events: none;
}

.theme_select select {
  appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: .4em calc(.8em + 30px) .4em .8em;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  background-color: #fff;
  color: #052605;
  font-size: 1em;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  header {
    height: 40px;
  }

  .logo img {
    height: 40px;
    width: auto;
  }

  .home-menu li {
    text-align: right;
    margin: 3px 10px;
    font-size: 10px;
  }

  .theme-button {
    display: inline-block;
    margin: 20px 7px;
    padding: 10px;
    background-color: #F6F8F8;
    color: black;
    font-size: 10px;
    width: 400px;
    border-radius: 10px;
    cursor: pointer;
  }

  .catch_copy img {
    width: 150px;
    height: auto;
    margin: 70px 5px;
  }

  .catch_copy p {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
  }
}
