body {
  font-family: Arial, sans-serif;
  background-color: #F1F2F6;
  margin: 0;
}

header {
  height: 80px;
  background-color: #FFFFFF;
  margin: 0 calc(50% - 50vw);
  display: flex;
  /* justify-content: space-between; */
}

.logo {
  width: 190px;
  display: flex;
  align-items: center;
  margin: 15px 15px;
}

.logo img {
  width: 100%;
  height: auto;
}

.inner {
  width: 100%;
  max-width: 900px;
  background-color: #FFFFFF;
  margin: 30px auto;
  padding: 50px;
  box-sizing: border-box;
  border: 0.5px solid #CCCC99;
}

/* h1 {
  font-size: 35px;
  text-align: center;
} */

.highlight {
  color: #FF385C;
}

.error-messages {
  color: red;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.error-messages p {
  margin: 0;
  font-weight: bold;
  font-size: 13px;
}

.inner a {
  text-decoration: none;
  color: #FF385C;
}

.login,
.form-group {
  margin: 0 auto;
  width: 30%;
  max-width: 600px;
}

.title {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.input {
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

a {
  display: block;
  text-align: center;
  margin: 20px 0;
}

.submit {
  text-align: center;
  /* ボタンを中央に寄せる */
  margin: 20px 0;
  /* 上下のマージンを調整 */
}

.submit button {
  margin: 0 auto;
  width: 30%;
  max-width: 600px;
  padding: 10px 20px;
  border: none;
  background-color: #FF385C;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 8px;
}

.submit button:hover {
  background-color: #FF2A4D;
}

.whats_apark {
  font-size: 30px;
  text-align: center;
  margin-top: 80px;
}

.arrow {
  cursor: pointer;
  font-size: 30px;
  align-items: center;
}

#target {
  margin-top: 1000px;
  padding: 50px;
  background-color: lightblue;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #FF2A4D;
  /* 矢印の色 */
  cursor: pointer;
  animation: blinkMove 1.5s infinite;
  display: inline-block;
  margin: 20px auto;
}

@keyframes blinkMove {

  0%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.5;
    transform: translateY(10px);
    /* わずかに下に動かす */
  }
}

@media screen and (min-width: 375px) and (max-width: 428px) {

  header {
    display: flex;
    justify-content: center;
    /* 中央寄せ */
    text-align: center;
  }

  .logo {
    margin: 0;
  }

  .logo img {
    display: block;
    margin: 0 auto;
  }

  .inner {
    max-width: 300px;
    padding: 35px 10px;
  }

  .inner a {
    font-size: 10px;
  }

  .login {
    margin: 0 auto;
    width: 60%;
  }

  .input {
    padding: 5px;
  }

  .submit button {
    width: 60%;
    border-radius: 8px;
  }

}
