.inner {
  margin-bottom: 50px;
}


.return_home {
  text-decoration: none;
  font-size: 15px;
  color: black;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 20px 50px;
}

.return_home:hover {
  background-color: #EEEEEE;
}

#delete_button_open {
  cursor: pointer;
  color: #bbb;
  background-color: #ffffff;
  border: 0.5px solid #ffffff;
  margin-bottom: 12px;
}


#delete_button_open:hover {
  color: #FF385C;
}

h2 {
  color: #FF385C;
}

.why_engineer_edit textarea {
  width: 70%;
  height: auto;
  resize: none;
  font-size: 16px;
  border-radius: 5px;
}

.why_engineer button {
  margin-top: 8px;
  border-radius: 5px;
  border: #ffffff;
  color: black;
}

.why_engineer button:hover {
  background-color: #FF385C;
  color: #ffffff;
}

#alertMessage {
  margin-left: 150px;
}

.my-ideas-items {
  width: 95%;
}

.my_ideas {
  width: 100%;
}

.my_ideas .my-ideas-items ul {
  list-style: none;
  overflow-x: auto;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  width: 100%;
}

.my_ideas .my-ideas-items ul li .theme {
  color: #E31515;
  font-size: 18px;
}

.my_ideas .my-ideas-items ul li {
  flex-shrink: 0;
  width: 250px;
  border: 2px solid #EEEEEE;
  padding: 15px;
  margin-right: 10px;
  /* li間の隙間を調整 */
  cursor: pointer;
}

.my_ideas .my-ideas-items ul li span {
  font-size: 17px;
  color: #808080;
}

.txt-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.9);
  border: 1px solid black;
}

/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10;
  /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  max-width: 500px;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 5px;
  overflow: scroll;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

/* 以下ボタンスタイル */
button {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #282828;
  border-radius: 2px;
  cursor: pointer;
}

#openModal {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 375px) and (max-width: 428px) {

  .return_home {
    margin: 20px 0;
  }

  .new-ideas-box-animate li {
    height: 400px;
    overflow: scroll;
  }

  .my_ideas .my-ideas-items ul li span {
    font-size: 15px;
    display: inline-block;
    margin-top: 15px;
  }


  .txt-limit {
    font-size: 10px;
    margin-bottom: -20px;
    margin-top: 0;
  }

  .slick-dots li {
    height: 15px;
    border: none;
  }
}
