<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APark</title>
    <link rel="stylesheet" href="../../../public/css/common.css">
    <link rel="stylesheet" href="../../../public/css/create_radarchart.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="inner">
        <a href="#" class="return_theme_page">一つ戻る</a>

        <h1><span class="highlight">どんなアプリ</span>を作りたいですか？</h1>

        <canvas id="radarChart"></canvas>

        <div class="status">
            <img src="#" class="status_img">
            <img src="#" class="status_img">
            <img src="#" class="status_img">
            <img src="#" class="status_img">
        </div>

        <a href="#" class="proceed_pitch_page">次へ</a>
    </div>

    <script src="../../../public/js/create_radarchart.js"></script>
</body>

</html>
