<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>APark</title>
  <link rel="stylesheet" href="../../../public/css/common.css">
  <link rel="stylesheet" href="../../../public/css/create_feedback.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <div class="inner">

    <h1>クリックするとFBが表示されます。</h1>

    <div class="status">
      <img src="#" class="status_img">
      <img src="#" class="status_img">
      <img src="#" class="status_img">
      <img src="#" class="status_img">
    </div>

    <div class="next_page">
      <h2>アイデアをシェアしてさらに磨こう！</h2>
    </div>

    <div class="next_page">
      <div class="share_or_back">
        <a href="#">投稿する</a>
        <a href="#">修正する</a>
      </div>
    </div>

    <script src="../../../public/js/create_radarchart.js"></script>
</body>

</html>
