@include('APark.select_theme')

<a href="#" class="return_pitch_page">一つ戻る</a>

<canvas id="radarChart" width="200" height="200"></canvas>

<h1>エレベーターピッチをお聞かせください。</h1>

<form>
    <input type="text area" name="input_pitch1">
    <input type="text area" name="input_pitch2">
</form>

<h1>どのように解決しますか？</h1>

<form>
    <input type="text area" name="input_solution">
</form>

<div class="status">
    <img src="#" alt="赤ちゃん"/>
    <img src="#" alt="親子自転車"/>
    <img src="#" alt="低学年補助輪あり"/>
    <img src="#" alt="低学年補助輪なし"/>
</div>

<a href="#" class="proceed_feedback_page">次へ</a>
