<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APark</title>
    <link rel="stylesheet" href="../../../public/css/create_idea.css">
</head>

<body>

    <a href="#" class="back_home_btn">一覧へ</a>

    <h1>今回のテーマは何ですか？</h1>

    <form id="themeForm">
        <button type="button" class="choice">「自分たちの役に立つものを開発せよ」</button>
        <button type="button" class="choice">オリジナルプロダクト</button>
        <button type="button" class="choice">「ワクワクするものを開発せよ」</button>
    </form>

    <div class="status">
        <img src="#" alt="赤ちゃん" />
        <img src="#" alt="親子自転車" />
        <img src="#" alt="低学年補助輪あり" />
        <img src="#" alt="低学年補助輪なし" />
    </div>

    <a href="#" class="proceed_createchart_page">次へ</a>

</body>

</html>
