<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APark</title>
    <link rel="stylesheet" href="../../../public/css/create_idea.css">
</head>

<body>

    <div class="inner">
        <a href="#" class="back_home_btn">一覧へ</a>

        <h1>今回のテーマは何ですか？</h1>

        <form id="themeForm">
            <button type="button" class="choice">「自分たちの役に立つものを開発せよ」</button>
            <button type="button" class="choice">「ワクワクするものを開発せよ」</button>
            <button type="button" class="choice">オリジナルプロダクト</button>
        </form>

        <div class="status">
            <img src="#" class="status_img">
            <img src="#" class="status_img">
            <img src="#" class="status_img">
            <img src="#" class="status_img">
        </div>

        <a href="#" class="proceed_create_chart_page">次へ</a>

    </div>
    <script src="../../../public/js/create_idea.js"></script>
</body>

</html>
